.ronaldo {
  height: 663px;
  margin-left: 100px;
  border-radius: 0px;
}

.carousel-div {
  background: #a0a4c7;
  border-radius: 10px;
}

.div-text {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #000000;
}
.div-container {
  text-align: center;
  margin-top: 10vw;
}

.try-it-now {
  text-align: center;
  background: #d736ff;
  border-radius: 10px;
  margin: 0 auto;
  width: 100px;
}
