.nav-bar {
  /* Main/Blue */

  background: #d4ddee;
  overflow-x: hidden;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
}

.fanisfun {
  height: 32px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  /* Main/Blue */

  color: #3c64b1 !important;
}

.search {
  display: flex;
  flex-direction: row;
  width: 119px;
  height: 38px;
  background: #ffffff;
  border-radius: 20px;
  justify-content: center;
  padding-top: 10px;
  margin-left: 10rem;
  
}

.search_text {
  width: 70px;
  height: 18px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.icon {
  width: 20px;
  height: 20px;
}

.upcoming-div {
  justify-content: space-between;
  margin-left: 19rem;
   
}

.text-color {
  /* Semibold/14px */

  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  color: #373f41;
  padding-right: 20px;
}

.login-button {
  background: #3c64b1;
  max-width: 100px;
  height: 42px;
  color: white;
}

.settings-icon {
  border: 1.5px solid #737b7d;
  height: 18.333332061767578px;
  border-radius: 0px;
  margin-right: 1.5rem;
}
.notification-icon {
  border: 1.5px solid #737b7d;
  height: 20px;
  width: 15px;
  border-radius: 0px;
  margin-right: 1.5rem;
 
}

.right-icon{
   text-align: center;
}
